span{
    color: royalblue
}

body{
    background-color: rgb(119, 92, 143);
}

.titulos-para-animes{
    background-color: brown;
}

h1{
    font-size: 50px;

}

p{
    font-size: 200%;
}

#parrafo-1{
    color:chartreuse;
}

#Gracias{
    font-size: 25px;
}

p{
    font-family: 'Lucida Sans';
}

.Personajes{
    font-size: 30px;
}

h3{
    color: darkgreen;
    font-weight: bolder;
    font-size: 400%;
}